<div class="row">
  <div class="col-md-6">
    <a routerLink="/" class="btn btn-link">
      <i class="fa fa-arrow-circle-o-left"></i> Back to Dashboard
    </a>

  </div>
  <div class="col-md-6">

  </div>
</div>
<div class="card">
  <div class="card-header">
    Edit settings
  </div>
  <div class="card-body">
    <form (submit)="onSubmit()">
      <div class="form-group">
        <label> Allow Registration</label>
        <input type="checkbox" name="allowRegistration" [checked]= "settings.allowRegistration" (change) = "settings.allowRegistration = !settings.allowRegistration">
      </div>

      <div class="form-group">
          <label> Disable Balance On Add</label>
          <input type="checkbox" name="disableBalaceOnAdd" [checked]= "settings.disableBalaceOnAdd" (change) = "settings.disableBalaceOnAdd = !settings.disableBalaceOnAdd">
        </div>

        <div class="form-group">
            <label> Disable Balance On Edit</label>
            <input type="checkbox" name="disableBalaceOnEdit" [checked]= "settings.disableBalaceOnEdit" (change) = "settings.disableBalaceOnEdit = !settings.disableBalaceOnEdit">
          </div>

          <input type="submit" value="Submit" class="btn btn-primary btn-block">
    </form>
  </div>
</div>